<div class="wordle-info">
  <h1 class="title">WORDLE</h1>
  {{#if this.wordleInfo.error}}
  <span class="alert">{{this.errorMessage}}</span>
  {{/if}}
  {{#if this.wordleInfo.gameOver}}
  <span class="alert">{{this.wordleInfo.info}}</span>
  {{/if}}
  <span>{{ log this.correctAnswer }}</span>
</div>