@media only screen and (max-width: 500px) {
  #root.responsive {
    left: 0;
    top: 0;
    bottom: 0;
    justify-content: space-around;
    right: 0;
    transform: none;
  }
}

@media only screen and (min-width: 900px) {
  #root.responsive {
    left: 25%;
    top: 5%;
    bottom: 5%;
    justify-content: center;
    right: 25%;
    transform: none;
  }
  #root.responsive .wordle-info {
    margin-bottom: 0;
  }
  .wordle-container {
    display: flex;
    flex-flow: column;
    flex: 3;
    justify-content: center;
  }
  .keyboard-container {
    flex: 2;
    display: flex;
  }
  #root .wrapper .wordle .wordle-box {
    flex-basis: 60px;
    min-height: 60px;
  }
  #root.responsive .keyboard .keys-section button {
    padding: 16px;
  }
  #root.responsive .keyboard .keys-section div {
    display: flex;
    flex-basis: 70px;
  }
}
