:root {
  --dark: #161b22;
  --light: #ffffff;
}

.dark-mode {
  background: var(--dark);
}

.light-mode {
  background: var(--light);
}

.dark-mode .wordle-info {
  color: var(--light);
  border-bottom: 1px solid var(--light);
}

.light-mode .wordle-info {
  color: var(--dark);
  border-bottom: 1px solid var(--dark);
}

.dark-mode .wrapper .wordle .box {
  background: transparent;
  color: var(--light);
}

.light-mode .wrapper .wordle .box {
  background: transparent;
  color: var(--dark);
}

.dark-mode .wrapper .wordle .present,
.light-mode .wrapper .wordle .present {
  background-color: #c9b458;
  transition: background-color 0.2s ease-in;
  color: #fff;
}

.dark-mode .wrapper .wordle .invalid,
.light-mode .wrapper .wordle .invalid {
  background-color: #787c7e;
  transition: background-color 0.2s ease-in;
  color: #fff;
}

.dark-mode .wrapper .wordle .correct,
.light-mode .wrapper .wordle .correct {
  background-color: #6aaa64;
  transition: background-color 0.2s ease-in;
  color: #fff;
}

.light-mode .toaster {
  background: var(--dark);
  color: var(--light);
}

.dark-mode .toaster {
  background: var(--light);
  color: var(--dark);
}
