<section class="root responsive" id="root">
  {{info-component}}
  {{#wordle-component class="wordle-container" as |b|}}
  {{b.boxed}}
  {{/wordle-component}}
  {{keyboard-component class="keyboard-container"}}
</section>